@import 'bases/variables';
@Import 'bases/mixins';

.logs-container {
    position: relative;
    max-height: 40vh;
    max-width: 80%;
    padding: 10px 30px;
    overflow: auto;
    background-color: transparent;

    border-radius:10px;
    margin: 0 auto;

    display: flex;
    width: 100%;
    flex-direction: column;



    /* Mozilla firefox */
    scrollbar-color: $darkpink transparent;
    scrollbar-width: thin;

    /* Global */
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* Ascenseur */
    &::-webkit-scrollbar-thumb {
      background: $darkpink;
      border-radius: 10px;
    }

  &.chat-active {
    border: 2px solid $darkpink;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  }

  //.user-left, .user-join, .hub-joined, .hub-left {
  //  background-color: $orange-3;
  //}

  .logs-container__log {
    margin-top: 10px;
    padding: 15px 50px;
    border-radius: 10px;

    &.log-user {
      align-self: start;
      background-color: $darkpink;
    }

    &.log-other {
      align-self: end;
      background-color: $darkBlue;
    }

    &:before,
    &:after {
      content:"";
      background-color:#fff;
      border-radius:50%;
      display:block;
      position:absolute;
      z-index:-1;
    }
    &:before {
      width:44px;
      height:44px;
      top:-12px;
      left:28px;
      box-shadow:-50px 30px 0 -12px #fff;
    }
    &:after {
      bottom:-10px;
      right:26px;
      width:30px;
      height:30px;
      box-shadow:40px -34px 0 0 #fff,
      -28px -6px 0 -2px #fff,
      -24px 17px 0 -6px #fff,
      -5px 25px 0 -10px #fff;

    }

    .voice-icon {
      transform: translateY(4px);
      width: 20px;
      height: 20px;
      color: $lightLavender;
      margin-right: 10px;
    }

    .log__info {
      display: flex;
      gap: 20px;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      .info__user {
        font-size: 16px;
        color: $lightLavender;
        font-style: italic;
        font-weight: 700;

      }
      .info__time {
        font-size: 16px;
        color: $lightLavender;
        font-style: italic;
      }
    }

    .log__message {
      .message__content {
        font-size: 18px;
        color: $lightLavender;
        font-weight: 400;
      }
    }
  }
}


.message-form {
    border-left: 6px solid $darkpink;
    border-right: 6px solid $darkpink;
    border-radius: 30px;
    padding: 30px 60px;
    min-width: 250px;
    max-width: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:60px auto;

  .message-form__submit {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr minmax(100px, 2fr);
      column-gap: 20px;
      align-items: center;
      justify-content: center;

      .talk-icon {
          grid-column: 2;
          grid-row: 1;
          justify-self: start;
          width: 50px;
          height: 50px;
          color: $darkpink;
      }
    
      .message-send {
        grid-column: 1;
        grid-row: 1;
        flex-basis: 40%;
        border: 1px solid #d6d6d6;
        padding: 10px 30px;
        margin: 20px 0;
        border-radius: 6px;
        font-size: 24px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        background-color: $blue;
        color: $light;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $darkpink;
        }
      }
    }

    input[type="text"] {
        border: 1px solid #d6d6d6;
        width: 100%;
        height: 2.6em;
        border-radius: 6px;
        font-size: 17px;
        line-height: 1.29412;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 10px;
        background-color: $light;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: white;
        }
    }
}

