@import 'bases/variables';
@Import 'bases/mixins';

.logs-container {
    position: relative;
    max-height: 40vh;
    max-width: 80%;
    overflow: auto;
    background-color: transparent;

    border-radius:10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0 auto;

    /* Mozilla firefox */
    scrollbar-color: $darkpink transparent;
    scrollbar-width: thin;

    /* Global */
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* Ascenseur */
    &::-webkit-scrollbar-thumb {
      background: $darkpink;
      border-radius: 10px;
    }

    div:nth-child(1) {
      width:100%;
    }

  &.chat-active {
    border: 2px solid $darkpink;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  }

  .logs-container__header {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;

    .avatar {
      position: absolute;
      z-index: 1;
      top: 8px;
      left: 9px;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24);

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .logs-container__log {
    flex-basis: 40%;
    padding: 15px 50px;
    border-radius: 50px;
    margin: 10px auto;

    &.log-user {
      grid-column: 1;
      align-self: start;
      background-color: $darkpink;
    }

    &.log-other {
      grid-column: 2;
      align-self: end;
      background-color: $darkLavender;
    }

    &.log-odd {
      grid-column: 1;
      align-self: end;
      background-color: $darkLavender;
    }

    &.log-even {
      grid-column: 2;
      align-self: start;
      background-color: $darkpink;
    }

    //&:nth-child(1) {
    //  border-radius: 10px 10px 0 0;
    //}

    //&:nth-last-child(1) {
    //  border-radius: 0 0 0 10px;
    //}

    .voice-icon {
      transform: translateY(4px);
      width: 20px;
      height: 20px;
      color: $lightLavender;
      margin-right: 10px;
    }

    .log__info {
      display: flex;
      gap: 20px;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      .info__user {
        font-size: 16px;
        color: $lightLavender;
        font-style: italic;
        font-weight: 700;

      }
      .info__time {
        font-size: 16px;
        color: $lightLavender;
        font-style: italic;
      }
    }

    .log__message {
      .message__content {
        font-size: 18px;
        color: $lightLavender;
        font-weight: 400;
      }
    }
  }
}


.message-form {
    border-left: 6px solid $darkpink;
    border-right: 6px solid $darkpink;
    border-radius: 30px;
    padding: 30px 60px;
    min-width: 250px;
    max-width: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:60px auto;

  .message-form__submit {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr minmax(100px, 2fr);
      column-gap: 20px;
      align-items: center;
      justify-content: center;

      .talk-icon {
          grid-column: 2;
          grid-row: 1;
          justify-self: start;
          width: 50px;
          height: 50px;
          color: $darkpink;
      }
    
      .message-send {
        grid-column: 1;
        grid-row: 1;
        flex-basis: 40%;
        border: 1px solid #d6d6d6;
        padding: 10px 30px;
        margin: 20px 0;
        border-radius: 6px;
        font-size: 24px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        background-color: $blue;
        color: $light;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $darkpink;
        }
      }
    }

    input[type="text"] {
        border: 1px solid #d6d6d6;
        width: 100%;
        height: 2.6em;
        border-radius: 6px;
        font-size: 17px;
        line-height: 1.29412;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 10px;
        background-color: $light;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: white;
        }
    }
}

