.loader-container {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 199;

  .loader-image {
    width: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.loader-button-container {
  width: 100%;

  img {
    margin: 0 auto;
  }
}

.loader-lists {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 400px;
  height: 400px;
  z-index: 19999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .loader-container {
    position: relative;
    width: 100px;
    margin: 0 auto;
  }

  .loader-text {
    text-align: center;
    font-size: 1em;
    color: $darkBlue;
  }

}


